body {
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    background-color: #f41152;
    border-top: none;
}

.navbar-brand {
    color: #fff !important;
    font-size: 23px;
    font-weight: bold;
}

.login-title {
    color: #f41152;
    font-weight: bold;
    margin: 0 0 20px;
}