body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

#header {
    background-color: #f41152;
}

#header a#logo {
    background: transparent none;
    padding-left: 0;
}