{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
</head>
{% with container="max-width: 800px;margin: 0 auto;" img="vertical-align: middle;" img_small="30px;" footer_ext_links_a="margin: 0 2px;text-decoration: none;" footer_ext_links_a_img="vertical-align: middle;" %}
<body style="font-family: sans-serif;padding: 0;margin: 0;">
	<div style="{{ container }}">
		<div style="text-align: center;margin: 10px 0;">
            <img height="100px" width="100px" style="width: 100px; height: 100px;" src="https://tunga.io/static/tunga/img/email/tunga_round.png" alt="Tunga"/>
        </div>
		<div style="text-align: center;margin: 20px 0 10px;">
			{{ email_content | safe }}
		</div>
	</div>
	<div style="color: #fff;background-color: #ee1f54;padding: 15px;margin-top:50px;">
		<div style="{{ container }}">
            <table style="width:100%; border-width: 0;border-collapse: collapse;">
                <tr>
                    <td>
                        <img style="{{ img }}" src="https://tunga.io/static/tunga/img/email/noun.png"
                             height="{{ img_small }}"/> Need help?
                        <p style="font-size: 12px;">If you have a question or need assistance, email us!</p>
						<div style="font-size: 12px;">We are more than happy to help out.</div>
                    </td>
                    <td style="text-align: right; padding-top: 25px">
                        <a style="{{ footer_ext_links_a }}" href="https://www.facebook.com/tunga.io/">
                            <img style="{{ footer_ext_links_a_img }}" height="{{ img_small }}"
                                 src="https://tunga.io/static/tunga/img/email/fb.png" alt="Facebook"/>
                        </a>
                        <a style="{{ footer_ext_links_a }}" href="https://twitter.com/tunga_io">
                            <img style="{{ footer_ext_links_a_img }}" height="{{ img_small }}"
                                 src="https://tunga.io/static/tunga/img/email/twitter.png" alt="Twitter"/>
                        </a>
                        <a style="{{ footer_ext_links_a }}" href="https://blog.tunga.io">
                            <img style="{{ footer_ext_links_a_img }}" height="{{ img_small }}"
                                 src="https://tunga.io/static/tunga/img/email/blog.png" alt="Blog"/>
                        </a>
                        <a style="{{ footer_ext_links_a }}" href="mailto:bart@tunga.io">
                            <img style="{{ footer_ext_links_a_img }}" height="{{ img_small }}"
                                 src="https://tunga.io/static/tunga/img/email/mail.png" alt="E-mail"/>
                        </a>
                    </td>
                </tr>
            </table>
		</div>
	</div>
</body>
{% endwith %}
</html>
{% endautoescape %}
