{% extends "tunga/email/content.html" %}
{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% block email_header %}
    Confirm your email on Tunga.
{% endblock %}
{% block email_content %}
    <p>Hi {{ user.first_name }},</p>

    <p>You're receiving this e-mail because {{ user.email }} has be given as an e-mail address for your Tunga account.</p>

    <p>
        To confirm this is correct, simply click the following link:<br/>
        <a href="{{ activate_url }}">{{ activate_url }}</a>
    </p>
    <p>
        If this is not correct, please ignore this email.
    </p>
{% endblock %}
