{% extends "tunga/email/base.html" %}
{% load i18n %}
{% block email_content %}
    <p>Hello,</p>

    <p>{{ owner.display_name }} created a new task:</p>

    <p>{{ task.summary }}</p>

    <p>
        {% if task.deadline %}Deadline: {{ task.deadline | date:'jS F Y \a\t H:i' }} GMT{% endif %}<br/>

        {% if task.skills %}Skills: {{ task.skills }}{% endif %}<br/>

        {% if task.description %}{{ task.description }}{% endif %}<br/>
    </p>

    <p>
        Click the link below to view the task's details:<br/>
        {{ task_url }}
    </p>

{% endblock %}
