{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Thank you for posting your {% if task.is_task %}task{% else %}project{% endif %} on Tunga
{% endblock %}
{% block email_content %}
    <p>Hi {{ owner.first_name }},</p>

    <p>Thanks for using Tunga!</p>

    <p>
        {% if task.scope == 1 %}
            Your task has now been shared with our community of awesome developers and you will receive an email when a developer applies for it.
        {% else %}
            We've received the information about your project and we'll get back to you within 48 hours with the next steps to complete your project.
        {% endif %}
    </p>

    <p>
        {% if task.title %}Title: {{ task.title }}<br/>{% endif %}

        {% if task.type %}Type: {{ task.get_type_display | safe }}<br/>{% endif %}

        {% if task.scope %}Scope: {{ task.get_scope_display | safe }}<br/>{% endif %}

        {% if task.skills %}Skills: {{ task.skills }}<br/>{% endif %}

        {% if task.deadline %}Deadline: {{ task.deadline | date:'jS F Y' }}<br/>{% endif %}

        {% if task.description %}
            Description:<br/>
            {{ task.description | safe }}
        {% endif %}
    </p>

    {% if task.deliverables %}
        <p>
            Deliverables:<br/>
            {{ task.deliverables | safe }}
        </p>
    {% endif %}

    {% if task.stack_description %}
        <p>
            Stack Description:<br/>
            {{ task.stack_description | safe }}
        </p>
    {% endif %}

    <p>
        Click the link below to view the {% if task.is_task %}task{% else %}project{% endif %} on Tunga:<br/>
        <a href="{{ task_url }}">{{ task_url }}</a>
    </p>

{% endblock %}
