{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    {{ invitee.first_name }} {% if accepted %}accepted{% else %}turned down{% endif %} your {% if task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    <p>Hi {{ inviter.first_name }},</p>

    <p>
        {{ invitee.display_name }} {% if accepted %}accepted{% else %}rejected{% endif %} your invitation for the task:
    </p>

    <p>{{ task.summary }}</p>

    {% if accepted %}
        <p>
            Click the link below to go to the workflow page:<br/>
            <a href="{{ task_url }}">{{ task_url }}</a>
        </p>
    {% endif %}

{% endblock %}
