{% extends "tunga/email/base.html" %}
{% load i18n %}
{% block email_content %}
    <p>Hello,</p>

    <p>{{ owner.display_name }} created a new task:</p>

    <p>{{ task.summary }}</p>

    <p>
        {% if task.deadline %}Deadline: {{ task.deadline | date:'jS F Y \a\t H:i' }} GMT{% endif %}<br/>

        {% if task.skills %}Skills: {{ task.skills }}{% endif %}<br/>

        {% if task.description %}{{ task.description | safe }}{% endif %}<br/>
    </p>

    <p>
        {% for event in task.milestones %}

            {% if forloop.first %}Milestones:<br/>{% endif %}

            {{ forloop.counter }}: {{ event.title }} at {{ event.due_at | date:'jS F Y \a\t H:i' }} GMT<br/>

        {% endfor %}
    </p>

    {% if task.update_schedule_display %}<p>Update schedule: {{ task.update_schedule_display }}</p>{% endif %}

    <p>
        Click the link below to view the task's details:<br/>
        <a href="{{ task_url }}">{{ task_url }}</a>
    </p>

{% endblock %}
