{% extends "tunga/email/base.html" %}
{% load i18n %}
{% block email_header %}
    New progress report for {% if event.task.is_task %}
    task{% else %}
    project{% endif %}.
{% endblock %}
{% block email_content %}
    <p> Hello {{ instance.user }}</p>
    <p>It seems that a deadline on your {% if event.task.title %}
     {{ event.task.title }} {% if event.task.is_task %}task{% else %}
     project{% endif %} task has been missed.</p>
    <p>We apologize sincerely for the inconvenience this may have caused.</p>
    <p>According to our system, the Project Manager/Developer has communicated
     and handled the situation with you already.</p>
    <p>If you would like to contact us about the matter regardless, feel free
     to press the button below.</p>
    <a href="{{ update_url }}">{{ update_url }}</a>
{% endblock %}