{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    {{ owner.first_name }} {% if accepted %}accepted{% else %}turned down{% endif %} your application.
{% endblock %}
{% block email_content %}
    <p>Hi {{ applicant.first_name }},</p>

    <p>
        {{ owner.display_name }} {% if accepted %}accepted{% else %}rejected{% endif %} your application for the task:
    </p>

    <p>{{ task.summary }}</p>

    {% if accepted %}
        <p>
            Click the link below to go to the workflow page:<br/>
            <a href="{{ task_url }}">{{ task_url }}</a>
        </p>
    {% endif %}

{% endblock %}
