{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Great stuff! Your {% if task.is_task %}task{% else %}project{% endif %} has been posted on Tunga
{% endblock %}
{% block email_content %}
    Hi {{ owner.first_name }},<br>
    <br>
    Your {% if task.is_task %}task{% else %}project{% endif %} has been submitted to Tunga.
    You can view your {% if task.is_task %}task{% else %}project{% endif %} or make adjustments by clicking the link below.<br>
    <a href="{{ task_url | safe }}">{{ task_url | safe }}</a>
    <br>
    <br>
    {% if task.is_task %}
        This is what is going to happen next:<br>
        <br>
        <strong>1) Our developers are going to look at your task.</strong><br>
        <br>
        Developers can directly apply to your task or they can request additional information to you or give
        suggestions. You can interact with developers before you choose one to work with using our messaging
        functionality<br>
        <br>
        <strong>2) You choose a developer.</strong><br>
        <br>
        You can select the developer that suits your software need best. When you selected the developer, he will start
        on your task right away!<br>
        <br>
        <strong>3) Establish the workflow</strong><br>
        <br>
        You can share documents and communicate with the developer in Tunga's workflow page. This page will be created
        automatically for you. On this page, you can integrate tools like Trello, Github, and Slack. Also, all updates
        on the progress on this page.<br>
        If you have any questions regarding what is going to happen next, you can
        <a href="https://tunga.io/call">schedule a call</a> with us or email us at hello@tunga.io.<br>
        <br>
    {% else %}
        We'll get back to you within 48 hours with the next steps to complete your project.
    {% endif %}

{% endblock %}