{% extends "tunga/email/content.html" %}
{% block email_header %}
    You have new messages on Tunga.
{% endblock %}
{% block email_content %}
    <p>Hi {{ customer.name }},</p>

    <p>You have {{ count }} new message{{ count | pluralize }}</p>

    {% for message in messages %}
        <p>
            {{ message.sender.name }}:<br/>
            {{ message.html_body }}
        </p>
    {% endfor %}

    <p>
        Click the link below to go to the conversation:<br/>
        <a href="{{ channel_url }}">{{ channel_url }}</a>
    </p>
{% endblock %}
