% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Thanks for your feedback on the {% if event.task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    <p>Hi {{ owner.first_name }},</p>

    <p>You’ve let us know that the deliverable on your {% if event.task.title %} {{ event.task.summary }} {% endif %} {% if event.task.is_task %}task{% else %}project{% endif %} was not according to the standard it should be</p>

    <p>We apologize sincerely for the inconvenience this may have caused. This email is to notify you that we will be contacting you very soon to discuss the details of it and how we can help in resolving this very quickly</p>

    <p>
        In the meanwhile, you can give us some details by clicking the button below<br/>
        <a href="{{ update_url }}">{{ update_url }}</a>
    </p>
{% endblock %}