{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Select a developer for your {% if task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    Hi {{ owner.first_name }},<br>
    <br>
    Are you ready to pick a developer?<br>
    <br>
    View all applications here:<br>
    <br>
    <a href="{{ applications_url | safe }}">{{ applications_url }}</a><br>
    <br>
    Did not find a good match? Let us know and we will help you out. Contact us at hello@tunga.io or
    <a href="https://tunga.io/call">schedule a call</a> with us.<br>

{% endblock %}
