{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header_bg %}https://tunga.io/static/tunga/img/email/header3.jpg{% endblock %}
{% block email_header %}
    Don't forget to finalise your {% if task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}

    Hi {{ owner.first_name }},<br>
    <br>
    We need to know a bit more about what you want to build! Submit the remaining relevant information about
    your task to start working with top African developers.<br>
    <br>
    This will only take minutes:<br>
    <br>
    <a href="{{ task_edit_url | safe }}">{{ task_edit_url }}</a><br>
    <br>
    If you have any question regarding the task submit process, let us know. Email us at hello@tunga.io or schedule
    a call <a href="https://tunga.io/call">here</a><br>

{% endblock %}
