{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header_bg %}https://tunga.io/static/tunga/img/email/header4.jpg{% endblock %}
{% block email_header %}
    Yeey! Someone applied to your {% if task.is_task %}task{% else %}project{% endif %}!
{% endblock %}
{% block email_content %}
    Hi {{ owner.first_name }},<br>
    <br>
    {{ applicant.display_name }} has applied to your task.<br/>
    <br/>
    You can view the applications to your task by clicking the following link:<br/>
    <a href="{{ task_url | safe }}">{{ task_url | safe }}</a><br>
    <br>
    Note: more developers may apply to your task!<br>
    <br>

{% endblock %}
