{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header_bg %}https://tunga.io/static/tunga/img/email/header2.jpg{% endblock %}
{% block email_header %}
    Welcome to Tunga! Your {% if task.is_task %}task{% else %}project{% endif %} submission is almost complete.
{% endblock %}
{% block email_content %}

    Hi {{ owner.first_name }},<br>
    <br>
    Thank you for posting a task on Tunga. You are very close to working with top African developers.<br>
    <br>
    Before we can connect you with our developers we need just a bit more information from you. This will only take a
    few minutes of your time.<br/>
    Follow this link to give additional information about your task.<br>
    <br>
    <a href="{{ task_edit_url | safe }}">{{ task_edit_url | safe }}</a>

{% endblock %}

