{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    {{ user.first_name }} joined Tunga!
{% endblock %}
{% block email_content %}
    <p>Hello,</p>

    <p>{{ user.display_name }} has joined Tunga.</p>

    <p>
        Username: {{ user.username }}<br/>

        First Name: {{ user.first_name }}<br/>

        Last Name: {{ user.last_name }}<br/>

        User type: {% if user.type == 3 %}Project manager{% elif user.type == 2 %}Project owner{% else %}Developer{% endif %}
    </p>

    <p>
        Click the link below to view the user's profile:<br/>
        <a href="{{ user_url }}">{{ user_url }}</a>
    </p>

{% endblock %}
