{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    New progress report for {% if event.task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    <p>Hello,</p>

    <p>{{ reporter.first_name }} submitted a progress report:</p>

    <p>{% if event.task.is_task %}Task{% else %}Project{% endif %}: {{ event.task.summary }}</p>

    <p>
        Status: {{ report.get_status_display }}
    </p>

    <p>
        Percentage Completed: {{ report.percentage | default:'0' }}%
    </p>

    {% if report.stuck_reason %}
        <p>
            Reason for being stuck:<br/>
            {{ report.get_stuck_reason_display }}
        </p>
    {% endif %}

    {% if report.stuck_details %}
        <p>
            Explain Further why you are stuck/what should be done:<br/>
            {{ report.stuck_details }}
        </p>
    {% endif %}

    <p>
        Was the last deadline met?: {% if report.last_deadline_met %}Yes{% else %}No{% endif %}
    </p>

    {% if report.deadline_miss_communicated != None %}
    <p>
        Did the project manager/developer(s) inform you promptly about not making the deadline?:<br/>
        {% if report.deadline_miss_communicated %}Yes{% else %}No{% endif %}
    </p>
    {% endif %}

    {% if report.deadline_report %}
        <p>
            Report about the last deadline:<br/>
            {{ report.deadline_report }}
        </p>
    {% endif %}



    {% if report.accomplished %}
        <p>
        What has been accomplished since last update?<br/>
            {{ report.accomplished }}
        </p>
    {% endif %}

    {% if report.rate_deliverables %}
        <p>
            Rate Deliverables: {{ report.rate_deliverables }}/5
        </p>
    {% endif %}

    {% if report.todo %}
        <p>
            Next steps:<br/>
            {{ report.todo }}
        </p>
    {% endif %}

    {% if report.next_deadline %}
        <p>
            Next deadline:<br/>
            {{ report.next_deadline | date:'jS F Y' }}
        </p>
    {% endif %}

    {% if report.next_deadline_meet != None %}
    <p>
        Do you anticipate to meet this deadline?:<br/>
        {% if report.next_deadline_meet %}Yes{% else %}No{% endif %}
    </p>
    {% endif %}

    {% if report.next_deadline_fail_reason %}
        <p>
            Why will you not be able to make the next deadline?:<br/>
            {{ report.next_deadline_fail_reason }}
        </p>
    {% endif %}

    {% if report.obstacles %}
        <p>
            What obstacles are impeding your progress?:<br/>
            {{ report.obstacles }}
        </p>
    {% endif %}

    {% if report.team_appraisal %}
        <p>
            Team appraisal:<br/>
            {{ report.team_appraisal }}
        </p>
    {% endif %}

    {% if report.remarks %}
        <p>
            Remarks:<br/>
            {{ report.remarks }}
        </p>
    {% endif %}

    <p>
        Click the link below to view the full report:<br/>
        <a href="{{ update_url }}">{{ update_url }}</a>
    </p>
{% endblock %}
