{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    New weekly survey for {% if event.task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    <p>Hello,</p>

    <p>{{ reporter.first_name }} submitted a weekly survey:</p>

    <p>{% if event.task.is_task %}Task{% else %}Project{% endif %}: {{ event.task.summary }}</p>

    {% if report.last_deadline_met != None %}
    <p>
        Was this week deadline met?: {% if report.last_deadline_met %}Yes{% else %}No{% endif %}
    </p>
    {% endif %}
    
    {% if report.deadline_miss_communicated != None %}
    <p>
        Did you inform the client promptly about not making the deadline?:<br/>
        {% if report.deadline_miss_communicated %}Yes{% else %}No{% endif %}
    </p>
    {% endif %}

    {% if report.deliverable_satisfaction != None %}
    <p>
        Are you satisfied with the deliverables?: {% if report.deliverable_satisfaction %}Yes{% else %}No{% endif %}
    </p>
    {% endif %}    

    {% if report.rate_deliverables %}
        <p>
            Rate Deliverables: {{ report.rate_deliverables }}/5
        </p>
    {% endif %}

    {% if report.pm_communication != None %}
        <p>
            Is the communication between you and the project manager/developer(s) going well?:<br/>
            {% if report.pm_communication %}Yes{% else %}No{% endif %}
        </p>
    {% endif %}

    {% if report.remarks %}
        <p>
            Remarks:<br/>
            {{ report.remarks }}
        </p>
    {% endif %}

    <p>
        Click the link below to view the full report:<br/>
        <a href="{{ update_url }}">{{ update_url }}</a>
    </p>
{% endblock %}
