{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Let's get you a new password!
{% endblock %}
{% block email_content %}
    <p>Hi {{ user.first_name }},</p>

    <p>You're receiving this e-mail because you have requested a password reset for your Tunga account.</p>

    <p>
        Click the link below to reset your password.<br/>
        {% block reset_link %}
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            </a>
        {% endblock %}
    </p>

    <p>In case you forgot, your username is: {{ user.get_username }}.<br/></p>

    <p>You can safely ignore this email if you did not request a password reset.</p>

    <p>Thank you for using Tunga.</p>

{% endblock %}
