{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Welcome to Tunga! Let's get you set up!
{% endblock %}
{% block email_content %}
    <p>Hi {{ user.first_name }},</p>

    <p>Welcome on board and thank you for using Tunga.</p>

    <p>
        You can set your password and activate your account, simply by clicking the following link:<br/>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}?new_user=true">
            {% if tunga_url %}{{ tunga_url }}{% else %}{{ protocol }}://{{ domain }}{% endif %}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

{% endblock %}
