{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Status is Stuck on your {% if event.task.is_task %}task{% else %}project{% endif %}.
{% endblock %}
{% block email_content %}
    <p>Hi,</p>

    <p>
        The status for the {{ event.task.summary }} project has been classified as stuck.<br/>
        Please contact the stakeholders.<br/>
    </p>

    <p>
        Project owner: {{ owner.first_name }}, {{ owner.email }}<br/>
        {% if event.task.pm %}
            PM: {{ event.task.pm.first_name }}, {{ event.task.pm.email }}<br/>
        {% endif %}
    </p>

{% endblock %}
