{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    You're stuck, but help is underway.
{% endblock %}
{% block email_content %}
    <p>Hi {{ reporter.first_name }},</p>

    <p>
        You’ve let us know that you’re currently stuck on the "{{ event.task.summary }}" {% if event.task.is_task %}task{% else %}project{% endif %}.<br/>
        We are writing you to find out if there’s anyway we could support you.<br/>
    </p>
    <p>
        We’ll be contacting you shortly about the details, but please feel free to already let us know by filling in the form below.<br/>
        <a href="{{ update_url }}feedback/stuck" class="btn">SHARE MORE DETAILS</a>
    </p>
{% endblock %}
