{% extends "tunga/email/content.html" %}
{% block email_header %}
    You have new messages on Tunga.
{% endblock %}
{% block email_content %}
    <p>Hi {{ receiver.first_name }},</p>

    <p>You have {{ new_messages }} new message{{ new_messages | pluralize }} from {% if channel.type == 1 %}your conversation with{% else %}the conversation: {% endif %} <a href="{{ channel_url }}">{{ channel_name }}</a></p>

    <p>
        Click the link below to go to the conversation:<br/>
        <a href="{{ channel_url }}">{{ channel_url }}</a>
    </p>
{% endblock %}
