{% extends "tunga/email/content.html" %}
{% block email_header %}
    Check on your {% if task.is_task %}task{% else %}project{% endif %} on Tunga.
{% endblock %}
{% block email_content %}
    <p>Hi {{ receiver.first_name }},</p>

    <p>You missed {{ new_activity }} new activit{{ new_activity | pluralize:"y,ies" }} for the task:</p>

    <p>{{ task.summary }}</p>

    <p>
        Click the link below to go to the workflow page:<br/>
        <a href="{{ task_url }}">{{ task_url }}</a>
    </p>
{% endblock %}
