{% extends "tunga/email/base.html" %}
{% load i18n %}
{% block email_content %}
    <p>Hello {{ user.first_name }},</p>

    <p>You're receiving this e-mail because you have requested a password reset for your Tunga account.</p>

    <p>You can safely ignore this email if you did not request a password reset.</p>

    <p>
        Click the link below to reset your password.<br/>
        {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
    </p>

    <p>
        In case you forgot, your username is: {{ user.get_username }}.<br/>
        Thank you for using Tunga.
    </p>

{% endblock %}
