{% load i18n %}
{% block email_content %}
Hello {{ user.first_name }},

You're receiving this e-mail because you have requested a password reset for your Tunga account.

You can safely ignored this email if you did not request a password reset.

Click the link below to reset your password.

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

In case you forgot, your username is: {{ user.get_username }}.

Thank you for using Tunga.

{% endblock %}
